@{
    ViewBag.Title = "Créditos";
}

<a class="icon-link icon-link-hover" style="color: black;" href="index">
    Home
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-arrow-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
    </svg>
</a>

<section class="creditos-container">
    <h2>Créditos del Proyecto</h2>
    <p>Este proyecto ha sido realizado por el siguiente equipo:</p>
    
    <ul class="equipo-lista">
        <li>
            <strong>Alon Kanter: </strong> Líder suprema
        </li>
        <li>
            <strong>Agustin De Marco: </strong> UX/UI
        </li>
        <li>
            <strong>Matias Halac: </strong> Pasapelotas y Cargabotellas
        </li>
        <!-- Agrega más integrantes según sea necesario -->
    </ul>
    
    <p>Este sitio web fue creado con el propósito de brindar información sobre los Juegos Olímpicos, incluyendo la historia, los deportes, y los países participantes. Agradecemos a todos los que contribuyeron a este proyecto.</p>
</section>
