@{
    ViewBag.Title = "Créditos";
}

<section class="creditos-container">
    <h2>Créditos del Proyecto</h2>
    <p>Este proyecto ha sido realizado por el siguiente equipo:</p>
    
    <ul class="equipo-lista">
        <li>
            <strong>Alon Kanter: </strong> Líder suprema
        </li>
        <li>
            <strong>Agustin De Marco: </strong> UX/UI
        </li>
        <li>
            <strong>Matias Halac: </strong> Pasapelotas y Cargabotellas
        </li>
        <!-- Agrega más integrantes según sea necesario -->
    </ul>
    
    <p>Este sitio web fue creado con el propósito de brindar información sobre los Juegos Olímpicos, incluyendo la historia, los deportes, y los países participantes. Agradecemos a todos los que contribuyeron a este proyecto.</p>
</section>
