@{
    ViewBag.Title = "Inicio";
}

<section class="card">
    <section class="banner">
        <div class="banner-content">
            <h1>Bienvenidos a los Juegos Olímpicos</h1>
            <p>Explora la historia, los deportes, los países participantes y descubre a los atletas que hacen de los JJOO un evento único y emocionante.</p>
        </div>
    </section>

    <section class="about-site">
        <h2>Sobre este sitio</h2>
        <p>Este sitio web está dedicado a brindarte toda la información que necesitas saber sobre los Juegos Olímpicos. Desde los orígenes históricos hasta las últimas competencias, puedes descubrir los diferentes deportes, conocer a los países participantes y agregar tus propios datos sobre los atletas.</p>
    </section>
</section>
